body {
    color: white;
    background-color: rgb(41, 38, 38);
    font-family: monospace;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    width: 300px;
    height: 100%;
    border: solid 5px;
    border-color: rgb(236, 131, 154);
}

header {
    color: white;
    background-color: rgb(236, 131, 154);
    margin: 20px;
    text-align: center;
    font-size: 18pt;
    border-radius: 5px;
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    color: #d66490;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
}

section li {
    margin: 20px;
}

code {
    display: block;
    text-align: left;
    line-height: 5;
    background-color: rgb(168, 164, 168);
    color: rgb(10, 10, 10);
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 815px) {
    #navbar ul {
        border: 1px solid;
        height: 100%;
    }
}

